/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

@font-face {
    src: url(../fonts/EurovisionChoir2017-v7YZ.ttf);
    font-family: euro1;
}

@font-face {
    src: url(../fonts/EurovisionVienna2015-7mzB.ttf);
    font-family: euro2;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}

/* Navbar */

#logo-img{
    width:50px;
    height:60px;
}

#logo{
    font-family: 'euro1', sans-serif;
    font-size: 300%;
    color: black;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-left: 1.5em;
    margin-right:0;
} 

nav{
    background-color: rgb(233, 255, 112);
}

nav li{
    font-size: 2em;
    padding: 0 1em;
    font-family: 'Oswald', sans-serif;
}

#nav-spacer{
    height :96px;
}

/* Footer */

footer{
    background-color:rgb(0, 168, 224);
}

.social-networks{
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 0;
    padding: 2%;
    color:rgb(233, 255, 112);
}

/*Entries Page */

#map-selector{
    background-color:rgb(0, 168, 224);
}

#map-selector h1{
    text-align: center;
}
#map-selector img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 5px;
}

.card-flag{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
}

.card-body{
    display: flex;
    justify-content: space-evenly;
}

/*gallery page */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}