/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

@font-face {
    src: url(../fonts/EurovisionChoir2017-v7YZ.ttf);
    font-family: euro1;
}

@font-face {
    src: url(../fonts/EurovisionVienna2015-7mzB.ttf);
    font-family: euro2;
}

/* Main Structure Styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/*Headings and logo */
#logo{
    font-family: 'euro1', sans-serif;
    font-size: 400%;
    color: black;
    letter-spacing: 1px;
    text-transform: capitalize;
    float: left;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    list-style-type: none;
    margin-right:  100px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image{
    height: 600px;
    width: 100%;
    background-image: url('../images/hero-image.jpeg');
    background-size: cover;
    background-position: center;
}